import { defineConfig } from 'vite';
import laravel from 'laravel-vite-plugin';
import laravelElm from 'laravel-elm/vite';

export default defineConfig({
    plugins: [
        laravel({
            input: [
                'resources/css/app.css',
                'resources/js/app.js',
                'resources/js/elm.js',
            ],
            refresh: true,
        }),
        laravelElm({
            debug: true, // Enable debug mode for development
        }),
    ],
});